.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.card-img {
  flex: 1 max(50%, 300px);
}
.card-img img {
  width: 100%;
  height: auto;
}

.card-body {
  flex: 1 max(50%, 436px);
}

.card-body p {
  padding-left: 2rem;
  padding-right: 2rem;
}
.card-body h2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
