@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:ital,wght@0,900;1,300;1,900&display=swap");
/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  line-height: 1.4;
  /* width: 100%; */
  overflow-x: hidden;
}
