/* utilities */
.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
}

.bg-primary {
  background-color: var(--color-primary);
  color: #fff;
}
.bg-secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.bg-other {
  background-color: #d4e9e2;
}

/* text */
.text-center {
  text-align: center;
}

.text-xl {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 600;
  margin-bottom: 20px;
}

.text-md {
  font-size: 24px;
  margin-bottom: 20px;
}

/* padding */
.py-md {
  padding: 2rem 0;
}

/* margin */
.my-md {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* stop scrolling */
.no-scroll {
  /* overflow: hidden; */
  position: fixed;
}

@media (max-width: 547px) {
  .text-xl {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .text-md {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
