:root {
  font-size: 16px;
  --color-primary: #006241;
  --color-secondary: #d50032;
  --color-extra: #d4e9e2;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  line-height: 1.4;
}

/* remove all lists styling */
.navbar-container ul {
  list-style: none;
}
.navbar-container a {
  text-decoration: none;
  color: #000;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.navbar-container {
  /* width: 90%; */
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  /* align on main/x axis */
  justify-content: center;
  align-items: center;
  /* font-size: 1.1rem; */
  padding: 20px;
}

.navbar-container .navbar-nav,
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand img {
  width: 50px;
  height: 50px;
}

.navbar-container li {
  font-weight: bold;
}
/* navbar-left styles */
.navbar-container .navbar-nav-left {
  /* shorthand sets flexgrow to 1 and the rest to zero. It will take up 100% of space
  this hsould push the content to the left near the logo
  */
  flex: 1;
  margin-left: 1rem;
}
.navbar-nav-left li {
  margin: 1rem;
  letter-spacing: 0.1ch;
  text-transform: uppercase;
}

/* navbar-right styles */
.navbar-container .navbar-nav-right {
  display: flex;
  align-items: center;
}
.navbar-nav-right img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.navbar-nav-right > li {
  margin: 0 1rem;
}

.navbar-nav-right > li:first-child a {
  display: flex;
  align-items: center;
}

.navbar-nav-right > li:last-child {
  margin-left: 0.5rem;
}

/* style hovers */

.navbar-container li > a:hover {
  color: var(--color-primary);
}

/* style buttons */

.btn {
  border: 1px solid #000;
  border-radius: 50px;
  font-weight: 600;
  background-color: #fff;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
  padding: 7px 16px;
  display: inline-block;
}
.btn:hover {
  cursor: pointer;
}

.btn.btn-dark {
  background-color: #000;
  color: #fff;
}

.btn-outline-dark:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.btn-dark:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}

.btn-outline-white-transparent {
  background: transparent;
  color: #fff;
  border-color: #fff;
}
.btn-outline-black-transparent {
  background: transparent;
  color: #000;
  border-color: #000;
}
.btn-outline-white-transparent:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.btn-outline-black-transparent:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* box */
.box {
  max-width: 1440px;
  margin: 0 auto;
}
.box:not(.box:first-child) {
  margin: 2rem auto;
}

.box-a .box-inner {
  margin: 0 auto;
  max-width: 60%;
}

.box a {
  color: #fff;
}

.card {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-between;
}
.card-body {
  /* margin: auto 0; */
  align-self: center;
  padding: 1rem;
}
.card-img {
  max-width: 50%;
  height: auto;
}
/* utilities */
.bg-primary {
  background-color: var(--color-primary);
  color: #fff;
}
.bg-secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.bg-other {
  background-color: #d4e9e2;
}

/* text */
.text-center {
  text-align: center;
}

.text-xl {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 600;
  margin-bottom: 20px;
}

.text-md {
  font-size: 24px;
  margin-bottom: 20px;
}

/* padding */
.py-md {
  padding: 2rem 0;
}
